<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zatsumu</title>
</head>
<body>
  <h1>Zatsumu</h1>
  <p>Referer: <%= request.referer %></p>
  <p>UA: <%= request.user_agent %></p>
</body>
</html>
